.height-control{
  height: 100vh;
}


.banner-1 {
    background-image: url('https://live.staticflickr.com/65535/51737446693_c512a60742_b.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.banner-2 {
    background-image: url('https://t3.ftcdn.net/jpg/01/82/95/58/360_F_182955848_KTRY5maOGCO85HsKhhc3jhAtJbiWbqIl.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.banner-3 {
    background-image: url('https://cdn.wallpapersafari.com/76/15/Jleu6O.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .content-wrapper {
    text-align: center;
    color: #ffffff;
  }
  
  .banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner-content p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .banner-content button {
    font-size: 20px;
    color: #f8f9f5;
    background-color: #82525b;
  }

  .banner-content button:hover {
    font-size: 22px;
    color: rgb(241, 233, 233);
    background-color: #682935;
    scale: 1.02;
    transition: 0.3s ease;
  }
  